Hello {fname} {lname},

We have confirmed your booking for <b>{room} on {date}, from {start_time} to {end_time}</b>.

Please make sure to stop by the front desk when you arrive to finalize your reservation.
<b><span style="color: red;">If you arrive more than 10 minutes late, your booking may be forfeited.</span></b>

Thank you for using the University of Maryland's libraries, and have a great day!

University of Maryland Libraries
<img src="cid:liblogo.png" alt="University of Maryland Libraries Logo" />
