<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>

<form action="" method="post">
  Room Id:<br>
  <input type="text" name="room" value=""><br>
  Time:<select name="time">
    <option value="12:00am" selected>12am</option>
    <option value="1:00am">1am</option>
    <option value="2:00am">2am</option>
    <option value="3:00am">3am</option>
    <option value="4:00am">4am</option>
    <option value="5:00am">5am</option>
    <option value="6:00am">6am</option>
    <option value="7:00am">7am</option>
    <option value="8:00am">8am</option>
    <option value="9:00am">9am</option>
    <option value="10:00am">10am</option>
    <option value="11:00am">11am</option>
    <option value="12:00pm">12pm</option>
    <option value="1:00pm">1pm</option>
    <option value="2:00pm">2pm</option>
    <option value="3:00pm">3pm</option>
    <option value="4:00pm">4pm</option>
    <option value="5:00pm">5pm</option>
    <option value="6:00pm">6pm</option>
    <option value="7:00pm">7pm</option>
    <option value="8:00pm">8pm</option>
    <option value="9:00pm">9pm</option>
    <option value="10:00pm">10pm</option>
    <option value="11:00pm">11pm</option>
    </select><br><br>
    Date: <br>
    <input type="text" class="datepicker" name="date"><br>
  First Name:<br>
  <input type = "text" name ="fname" value=""><br>
  Last Name:<br>
  <input type = "text" name ="lname" value=""><br>
  UID:<br>
  <input type = "number" name ="uid" value=""><br>
  Email:<br>
  <input type = "email" name ="email" value=""><br><br>
  <input type="submit" value="Submit">
</form>

<div>
    {{ output }}
</div>